.theme-default-content
  code
    background-color: rgb(217, 241, 230);
    padding: 0.125rem 0.25rem;
    border-radius 0.4rem
    font-weight: bold

.theme-default-content ul li
  font-size 1rem
.theme-default-content ol li
  font-size 1rem
.theme-default-content p
  font-size 1rem

.theme-default-content div[class*=language-] 
    position: relative;
    margin: 28px -24px;
    background-color: #292d3e;
    overflow-x: auto;
    transition: background-color .5s;
    font-family: "Times New Roman", Times, serif;
.theme-default-content pre[class*="language-"] code
    font-weight:normal
    font-size .9rem
    font-family: Menlo, Monaco, Consolas,"Courier New", monospace;
.theme-default-content:not(.custom)
    max-width: 940px