// Theme's Styles
@import("C:/Users/15648/Desktop/ZZULIOJ/technologyStack/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("C:/Users/15648/Desktop/ZZULIOJ/technologyStack/docs/.vuepress/styles/index.styl")